@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");

.App {
  font-family: "Work Sans", sans-serif;
}
a {
  color: #fff;
  text-decoration: none !important;
}
a.active ,a.active:hover {
  color:rgb(153, 196, 0) !important;
  opacity: 1 !important;
  transition: none !important;
  animation: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
